@import 'primereact/resources/themes/lara-light-indigo/theme.css';
@import 'primereact/resources/primereact.min.css';
@import 'primeicons/primeicons.css';

@import 'react-circular-progressbar/dist/styles.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    background-color: #f4f6f7;
    scroll-behavior: smooth;
  }
}

/**
* Tab Menu
*/
ul.btn-tabs {
  li {
    transition: all 0.3s ease-in-out;

    &.active {
      background-color: #252727;
      color: #e5edea;
    }
  }
}
